
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cont{
  width: 80%
}

.sub-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-bottom: 20px;
}

textarea{
  width: 80%;
  min-height: 25vh;
}

#tite-input{
  width: 40%; 
}

.search-cont{
  display: flex;
  justify-content: center;
  margin: 10px 10px
}

.search-cont h3{
  margin: 2px
}

.search-cont input{
  width: 50%;
}

.code-cont{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(100px,auto);
  justify-items: center;
  width: 100%;
}

.code-inner{
  max-width: 70%;
}

pre{
  max-height: 200px;
}

#select{
  width: 30%
}

 
/* media */

@media (min-width: 800px) {
  .code-cont{
    grid-template-columns: repeat(2,1fr);
  }
}